@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@100&display=swap');
body {
  margin: 0;
  font: 1rem  'Trirong', serif;
  background-color: #FFF8F1;
  color: #000000;


}




.flex-start {
	justify-content: flex-start;
}

.container {
	max-width: 550px;
	margin: 0 auto;
	display: flex;
    margin-top: 6%;


    
}

.container div{
    margin: 5px;
	padding: 0 10px;
	text-align: center;
	font-size: 1.2em;
    text-decoration: none 
}

.titulo{
    margin: 30px;
	padding: 0 10px;
	text-align: center;
	font-size: 4em;
}

.texto-sem-sublinhado{
    text-decoration: none;
}



.imagem-aparece {
	opacity: 0; /* Inicialmente, a imagem é transparente */
	transition: opacity 4s; /* Adiciona uma transição suave de 1 segundo */
  
	/* Adicione estilos de posicionamento, tamanho, etc., conforme necessário */
  }
  
  /* Quando a classe 'apareceu' é adicionada, a imagem fica visível */
  .imagem-aparece.apareceu {
	opacity: 1;
  }
  